.cards {
  /* padding: 80px 0; */
  /* background: linear-gradient(180deg, rgba(26, 11, 46, 0) 0%, rgba(26, 11, 46, 1) 100%); */
}

.card {
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, .32);
  transition: all 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover {
  transform: unset;
  background: rgba(255, 255, 255, 0.05);
  /* border-color: rgba(255, 255, 255, 0.2); */
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); */
}

.icon {
  margin-bottom: 24px;
  transition: transform 0.3s ease-in-out;
}

.card:hover .icon {
  transform: unset;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
  background: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

@media (max-width: 768px) {
  .cards {
    padding: 40px 0;
  }

  .card {
    margin-bottom: 24px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }
}