.contact-page {
    background-image: url('/hero-bg-img.png');
    /* Ensure this is in your public folder */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    & h1 {
        font-size: 90px;
    }

    .breadcrumb {

        & a,
        & span {

            color: #4b5563;
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    .card {
        background-color: rgba(255, 255, 255, 0.95);
        border: none;
        padding: 24px 20px;
        gap: 16px;

        & h5 {
            font-size: 22px;
            color: #090F1D;

        }

        & p {
            font-size: 18px;
            color: #3c424b;

        }

        & a {
            font-size: 14px;
            color: #090F1D;
            font-weight: 500;
        }

    }

    .form-card {
        padding: 24px 32px 39px;

        & input,
        & select,
        & textarea {
            padding: 16px 20px;
            border-radius: 1rem;
            color: #9ca3af;
        }

        & textarea {
            padding: 16px 20px 32px;
        }

        & input::placeholder,
        & textarea::placeholder {
            color: #9ca3af;
        }

        .btn {
            width: fit-content;
            padding: 16px 64px !important;
            font-size: 18px;
            border: none;
        }
    }


  
}
  .footer-links {
        .heading-div {
            font-size: 18px !important;
            font-weight: 600 !important;
        }

    }