@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: "Inter", "Inter Placeholder", sans-serif;
    // background-image: unset !important;
}

.features-page-content {
    .container {
        max-width: 1200px;
        padding: 96px 32px;
        margin: auto;

        .feature-hero-section {
            .hero-heaeding {
                font-size: 40px;
                font-family: "Inter", "Inter Placeholder", sans-serif;
                font-weight: 700;
            }

            .hero-desc {
                max-width: 560px;
                width: 100%;
                margin: 0 auto;
                margin-top: 20px;
                font-family: "Inter", "Inter Placeholder", sans-serif;
            }

            .free-credit-btn {
                background-image: var(--btnGradientColor);
                color: white;
                border: none;
                font-size: 14px;
                font-weight: bold;
                border-radius: 8px;
                padding: 8px 17px;
                display: flex;
                margin: 0 auto;
                margin-top: 20px;
                font-family: "Inter", "Inter Placeholder", sans-serif;
            }

            .feature-hero-img-wrapper {
                margin-bottom: 60px;

                & img {
                    width: 100%;
                }
            }
        }

        .teamWorkFlow {
            .teamWorkFlow-container {
                padding: 80px 12px;

                .badge-div {
                    background-color: rgb(43 43 43);
                    display: inline-block;
                    padding: 4px 5px;
                    border-radius: 50px;

                    .main-badge {
                        margin: 0;
                        border-color: rgb(104, 101, 100);
                        background-color: black;
                    }
                }

                .teamWorkFlow-heading {
                    font-weight: 400;
                    letter-spacing: -1px;
                    margin-bottom: 88px;
                }

                .card-wrapper {
                    padding: 40px 32px;
                    border: 1px solid rgb(35 34 34);
                    border-radius: 15px;

                    .card-heading {

                        font-weight: 500;
                        font-size: 18px;
                        text-align: left;
                        margin: 0;
                    }

                    .card-desc {
                        margin: 8px 0 0 0;
                        color: #908E8E;
                        text-align: left;
                        font-size: 15px;
                    }
                }

                .first-card-wrapper {
                    padding: 40px 0 40px 32px;
                }

                .tiles-main-wrapper {
                    margin-top: 3rem;

                    .tile-wrapper {
                        border: 1px solid rgb(35, 34, 34);
                        border-radius: 10px;
                        padding: 10px 12px;


                        .logo-wrapper {
                            border: 4px solid #363a3ab0;
                            border-radius: 10px;
                            padding: 4px;
                        }

                        .content-wrapper {
                            .top-heading {
                                font-size: 12.5px;

                                & span {
                                    font-size: 8px;
                                    color: rgb(181, 127, 247);
                                    background-color: rgb(181 127 247 / 23%);
                                    margin-left: 10px;
                                    padding: 2px 3px;
                                    border-radius: 5px;
                                }
                            }

                            .bottom-desc {
                                font-size: 12px;
                                text-align: left;
                                color: #8F8F8D;
                                height: 18px;
                                position: relative;
                                overflow: hidden;
                                top: 0;
                                bottom: unset;
                            }

                            .arrow-svg-wrapper svg {
                                .chevron {
                                    color: rgb(144, 142, 142);
                                }
                            }
                        }
                    }

                    .first-tile {
                        margin-right: 30px;
                    }

                    .second-tile {
                        margin-right: 15px;

                        & span {
                            background-color: rgb(2, 44, 24) !important;
                            color: rgb(17, 214, 119) !important;
                            padding: 3px 10px;
                        }
                    }

                    .third-tile {
                        border-radius: 10px 0 0 10px;

                        .span-div span {
                            background-color: rgb(44 21 5) !important;
                            color: rgb(219, 100, 16) !important;
                            padding: 3px 10px;
                        }

                        .logo-heding {
                            color: #8F8F8D;

                        }

                        .text-to-audio {

                            margin-top: 7px;
                        }

                        & p {
                            font-size: 13px;
                            margin-top: 5px;
                            color: #8F8F8D;

                        }
                    }
                }

                .centered-card {
                    padding: 40px 10px !important;

                    .icon {
                        border: 5px solid rgb(24, 24, 24);
                        display: inline-block;
                        padding: 14px 16px !important;
                        border-radius: 50%;
                    }

                    .center-icons {
                        margin-top: -10px;

                        .center-badge {
                            font-size: 10px;
                            background-color: rgb(18 38 66 / 72%);
                            padding: 3px 6px;
                            border-radius: 10px;
                            color: #549EFF;
                        }
                    }

                    .center-image-wrapper {

                        .img-wrapper {
                            background-color: rgb(24, 24, 24);
                            border: 1px solid rgb(54, 58, 58);
                            padding: 8px;
                            max-width: 121px;
                            width: 100%;
                            max-height: 121px;
                            height: 100%;
                            border-radius: 16px;
                        }

                        & img {
                            height: 100%;
                            width: 100%;
                            border-radius: 10px;

                        }
                    }
                }

                .last-card {
                    padding: 40px 15px;

                    .badge {
                        border: 1px solid rgb(35, 34, 34);
                        border-radius: 800px;
                        padding: 8px 13px;

                        & span {
                            font-size: 12px;
                            font-weight: 400;
                            margin-left: 4px;
                            color: rgb(94 93 93);
                        }
                    }

                    .center-content {
                        position: relative;

                        .icon {
                            border: 5px solid rgb(24, 24, 24);
                            // display: inline-block;
                            padding: 14px;
                            border-radius: 50%;
                            position: absolute;
                            left: 115px;
                            top: -15px;
                            background-color: rgb(0 0 0);
                        }
                    }
                }

            }
        }

        .gate-way-section {
            .gate-way-container {
                padding-top: 56px;
                padding-bottom: 56px;

                .cards-main-wrapper {
                    padding: 12px 12px 16px;
                    background-color: rgb(19 19 21);
                    border-radius: 24px;

                    .img-wrapper {
                        width: 100%;
                        max-height: 200px;
                        height: 100%;
                        border-radius: 16px;
                        border: 1px solid rgb(107 107 107 / 55%);
                        margin-bottom: 24px;

                        & img {
                            width: 100%;
                            height: 100%;

                        }
                    }
                }

                .text-purple {
                    color: #a259ff;

                }

                .top-heading {
                    font-family: 600;
                    max-width: 400px;
                    width: 100%;
                    text-align: left;
                }

                .top-desc {
                    // font-size: ;
                    max-width: 300px;
                    width: 100%;
                    text-align: left;
                    font-weight: 500;
                    color: #dfdfdf !important;
                }

                .styled-text {
                    margin-bottom: 8px;
                }

                .desc-text {
                    margin-bottom: 0;
                }

                .heading-tile {
                    font-size: 28px;
                }

                .desc-text {
                    font-size: 16px;
                }

                .updates-section {
                    .modal-updates {
                        font-size: 32px;
                        font-weight: 600;
                    }

                    .names {
                        font-size: 16px;
                    }
                }
            }


        }
    }
}

.circle-animation {

    .top-content {
        .badge-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .badge {
                background-color: rgb(71 130 255 / 20%);
                color: #0097FE;
                border-radius: 50px;
                margin: 0 auto;
            }
        }

        .badge-wrapper-2 {
            display: flex;
            margin-top: 12px;
            justify-content: center;
            align-items: center;

            .badge-2 {
                // background-color: rgb(71 130 255 / 20%);
                color: #0097FE;
                border-radius: 50px;
                margin: 0 auto;
                font-size: 16px;
            }
        }

        .heading {
            margin: 12px 0;
            font-size: 32px;
            text-align: center;

        }

        .desc {
            font-size: 16px;
            text-align: center;
            max-width: 700px;
            width: 100%;
            margin: 0 auto;
            font-weight: 500;
        }
    }

    .orbit-container {
        position: relative;
        max-width: 550px;
        max-height: 550px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 10px;









    }

    .gradient-bg {
        background: radial-gradient(circle at 30% 30%,
                rgba(255, 0, 150, 0.3),
                transparent 40%),
            radial-gradient(circle at 70% 70%,
                rgba(0, 200, 255, 0.2),
                transparent 50%),
            radial-gradient(circle at 50% 80%,
                rgba(255, 165, 0, 0.2),
                transparent 50%),
            #0f0f0f;
        /* dark base background */
        background-size: cover;
        background-repeat: no-repeat;


        width: 100%;
        height: 100%;
    }

    .gradient-bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        filter: blur(80px);
        z-index: -1;
    }

    .orbit-center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 300px;
        transform: translate(-50%, -50%);
    }

    .center-object {
        background-color: #ffffff;
        padding: 18px;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        z-index: 2;
        border-radius: 26px;
        border: 6px solid rgb(163, 163, 163);

        .img-wrapper {
            max-width: 52px;
            max-height: 52px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;


            & img {

                width: 100%;
                height: 100%;
            }
        }
    }

    .orbiting-object {
        position: absolute;
        width: 56px;
        height: 56px;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        animation: orbit 60s linear infinite;
        transform-origin: 230px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 14px;

        & img {
            width: 40px;
            height: 40px;
        }
    }

    @keyframes orbit {
        from {
            transform: rotate(calc(var(--i) * 45deg)) translateX(230px) rotate(calc(var(--i) * -45deg));
        }

        to {
            transform: rotate(calc(360deg + var(--i) * 45deg)) translateX(230px) rotate(calc(-360deg - var(--i) * 45deg));
        }
    }


}

// Cards Animation
.first-card-wrapper {

    .content-wrapper {
        cursor: default;
    }

    .bottom-desc {
        position: relative;
        height: 60px;
        /* adjust as needed */
    }

    .inner-top-p,
    .inner-bottom-p {
        position: absolute;
        width: 100%;
        left: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .inner-top-p {
        top: 0;
        transform: translateY(0);
        opacity: 1;
    }

    .inner-bottom-p {
        bottom: 0;
        transform: translateY(100%);
        opacity: 0;
    }

    &:hover {
        .inner-top-p {
            transform: translateY(-100%);
            opacity: 0;
        }

        .inner-bottom-p {
            transform: translateY(0);
            opacity: 1;
        }

        .arrow-svg-wrapper {
            .chev-right {
                color: rgb(255, 255, 255) !important;
                stroke: #ffffff !important;
                // font-size: 30px;
                stroke-width: 2px;
            }
        }
    }


}

.d1,
.d2,
.d3,
.d4,
.d5 {
    height: 1px;
    width: 0px;
    position: absolute;
    background-color: rgba(94, 94, 94, 0.507);
    z-index: 0;
    transition: all ease-in-out 0.3s;
    // transform: translateY(-100%);
}

.d1 {

    left: 0;
    rotate: 90deg;
    top: -21px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.d2 {


    rotate: 45deg;
    top: 7px;
    left: -45px;
}

.d3 {

    rotate: -45deg;
    top: 7px;
    right: -45px;

}

.d4 {

    left: -52px;
    rotate: 0deg;
    top: 44%;
}

.d5 {


    right: -52px;
    rotate: 0deg;
    top: 44%;


}

.center-badge,
.left,
.right,
.top-icon {
    position: relative;
    z-index: 99;
    background-color: black;

}

.center-image-wrapper {
    position: relative;
    z-index: 9;

    .img-wrapper {
        z-index: 9999;
        position: relative;
    }
}

.center-badge-two {
    display: none;
    color: white !important;
    padding: 3px 12px !important;

}

.centered-card {



    &:hover {


        .d1,
        .d2,
        .d3,
        .d4,
        .d5 {
            width: 100px;
        }

        .center-badge-one {
            display: none;
            transition: all ease-in-out 1s;

        }

        .center-badge-two {
            display: block !important;
            transition: all ease-in-out 1s;

        }

    }
}

.last-card {
    transition: all 0.3s ease-in-out;

    .pills-wrapper {
        .icons-wrapper {
            position: relative;
            height: 20px;
            width: 25px;
            overflow: hidden;

            .first-icon {
                position: absolute;
                top: 0;
                transform: translateY(0);
                opacity: 1;
                transition: transform 0.5s ease, opacity 0.5s ease;
            }

            .second-icon {
                position: absolute;
                bottom: 0;
                opacity: 0;
                transform: translateY(100%);
                transition: transform 0.5s ease, opacity 0.5s ease;
            }


        }
    }

    .after {
        display: none;
    }

    &:hover {

        .icons-wrapper {

            .first-icon {
                transform: translateY(-100%);
                opacity: 0;
            }

            .second-icon {
                transform: translateY(0%);
                opacity: 1;
            }


        }

        .content {
            .afterBefore {
                .before {
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    display: none;
                }

                .after {
                    transition: opacity 0.3s ease, visibility 0.3s ease;
                    display: block;
                }
            }
        }
    }
}


 
